{% extends 'myapp/base.html' %}

{% block myheader %}
  <h1>this is the content form block myheader</h1>

  {% if user.profile.usertype == 'vvip' %}
    <center> 15% Discount for VIP member </center>
  {% elif user.profile.usertype == 'vip' %}
    <center> 10% Discount for VIP member </center>
  {% elif user.profile.usertype == 'member' %}
    <center> 5% Discount for VIP member </center>
  {% endif %}

{% endblock myheader %}

{% block content %}
  <h1>this is the content from home Made By ALIF</h1>
  <center>
    {% for data in pd %}
      <h1>{{ data.title }}</h1>
      <p>
        {{ data.description }}<br>
        price : {{ data.price }}<bt>
        stock : {{ data.quantity}}<br>
      </p>
    {% endfor %}

  </center>
{% endblock content %}