{% extends 'myapp/base.html' %}
{% load static %}

{% block myheader %}
    <h1> Login </h1>
{% endblock myheader %}

{% block content %}

    {% if message %}
        <h3>{{ message }}</h3>
        {% else %}
            <!-- Sign in form -->
            <main class="form-signin w-100 m-auto ">
                <div class="mx-auto p-2 " style="width: 500px;">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %} <!-- Cross-site request forgery -->
                        <img class="mb-4" src="{% static 'image/748018.png' %}" alt="logo" width="72" height="57">
                        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                        
                        <div class="form-floating ">
                            <input type="text" class="form-control rounded-top" placeholder="name@example.com" name="username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <br>
                        <div class="d-grid col-8 mx-auto">
                            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
                        </div>
                    </form>
                    <p><a href="{% url 'register-page' %}">Create New Account</a></p>
                </div>
            </main>  
        {% endif %}
{% endblock content %}